header {
    margin-bottom: 20px;
}

.square {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    width: 2vw;
    height: 2vw;
    margin: -1px;
    background-color: black;
}

.wall-top {
    border-top: 1px solid white;
}

.wall-bottom {
    border-bottom: 1px solid white;
}

.wall-right {
    border-right: 1px solid white;
}

.wall-left {
    border-left: 1px solid white;
}

.square-visited {
    background-color: red;
}

.square-current {
    background-color: pink;
}

.maze-container {
    display: grid;
    grid-template-columns: repeat(40, auto);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}